<div class="col-lg-12">
  <div id="<%= dom_id project %>">
    <div class="projects-container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Created by</th>
            <th scope="col">Developers</th>
            <th scope="col">QA</th>
            <% if current_page?('/projects') %>
              
            <% else %>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= project.name %></td>
            <td><%= project.created_by.email %></td>
            <td><%= project.developers.pluck(:email) %></td>
            <td><%= project.qa.email%></td>
            <td><% if current_page?('/projects') %>
                <div>
                  <% if policy(project).show? %>
                    <td><%= link_to "View", project , class: 'btn btn-warning' %></td>
                  <% end %>
                </div>
              <% else %>
              <% end %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
