<div class="login-form">
  <div class="container mt-5">
    <div class="align-items-center row">
      <div class="col-md-6">
        <div class="card px-5 py-5">
          <h2 class="text-center">Sign in to your Account</h2>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :email, class: "form-label" %><br />
              <div class="input-group">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter your Email" %>
              </div>
            </div>
            <div class="field">
              <%= f.label :password, class: "form-label" %><br />
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Enter Password" %>
            </div>
            <div class="actions">
              <%= f.submit "Log in", class: "btn btn-warning" %>
            </div>
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Forgot your password?", new_password_path(resource_name), class: 'links' %><br />
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <%= link_to image_tag("login.svg", :alt => "Image Description") %>
      </div>
    </div>
  </div>
